@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Poller+One");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: "Roboto", sans-serif; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  height: 8rem;
  padding: 1.5rem 3rem;
  background-color: #233340;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.game {
  background-color: #e0dbbe;
  padding: 2rem 3rem;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap; }

.footer {
  background-color: #9c8d8a;
  padding: 0.75rem 1.5rem; }

.header__brand {
  font-family: "Poller One", cursive;
  color: #f7f9f4;
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px dashed currentColor; }

.control__button {
  border: none;
  background-color: #679595;
  padding: 1rem 2.5rem;
  border-radius: 50rem;
  color: #f7f9f4;
  font-size: 1.3rem;
  font-weight: bold;
  border: 3px solid transparent;
  transition: border 0.3s;
  cursor: pointer; }
  .control__button:hover {
    border: 2px solid #e0dbbe; }

.copyright {
  color: #040506; }

.card {
  margin: 1rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  perspective: 150rem;
  cursor: pointer;
  flex: 0 0 12rem; }
  .card__side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(0);
    color: #040506;
    backface-visibility: hidden;
    box-shadow: 0 2px 12px rgba(4, 5, 6, 0.8);
    transition: width 0.3s ease-in 2s, height 0.3s ease-in 2s; }
    .card__side--front {
      background-color: #f7f9f4;
      color: #040506;
      transform: rotateY(-180deg); }
    .card__side--back {
      background-image: linear-gradient(to right bottom, #233340, #040506);
      color: #f7f9f4; }
  .card--clicked .card__side--front {
    transform: rotateY(0); }
  .card--clicked .card__side--back {
    transform: rotateY(180deg); }
  .card--completed .card__side {
    height: 0;
    width: 0; }
  .card--completed {
    cursor: auto; }
  .card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
