.header__brand {
  font-family: $font-heading;
  color: $color-white;
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px dashed currentColor;
}

.control {
  &__button {
    border: none;
    background-color: $color-alt;
    padding: 1rem 2.5rem;
    border-radius: 50rem;
    color: $color-white;
    font-size: 1.3rem;
    font-weight: bold;
    border: 3px solid transparent;
    transition: border 0.3s;
    cursor: pointer;

    &:hover {
      border: 2px solid $color-light;
    }
  }
}

.copyright {
  color: $color-black;
}

// GAME CARDS
.card {
  margin: 1rem;
  width: 12rem;
  height: 12rem;
  position: relative;
  perspective: 150rem;
  cursor: pointer;

  flex: 0 0 12rem;

  &__side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(0);
    color: $color-black;
    backface-visibility: hidden;
    box-shadow: 0 2px 12px rgba($color-black, 0.8);
    transition: width 0.3s ease-in 2s, height 0.3s ease-in 2s;

    &--front {
      background-color: $color-white;
      color: $color-black;
      transform: rotateY(-180deg);
    }

    &--back {
      background-image: linear-gradient(to right bottom, $color-dark, $color-black);
      color: $color-white;
    }
  }

  // Flip functionality
  &--clicked &__side--front {
    transform: rotateY(0);
  }
  &--clicked &__side--back {
    transform: rotateY(180deg);
  }

  // Remove functionality
  &--completed &__side {
    height: 0;
    width: 0;
  }

  &--completed {
    cursor: auto;
  }

  // Content of card
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
