// COLORS
$color-dark: #233340;

$color-mid: #9c8d8a;

$color-light: #e0dbbe;

$color-alt: #679595;

$color-white: #f7f9f4;
$color-black: #040506;

// FONTS
$font-heading: 'Poller One', cursive;
$font-text: 'Roboto', sans-serif;
